<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
</head>
<body>
<div class="container">
    <!--navigation bar start -->
    <app-nav-bar></app-nav-bar>
    <!--navigation bar end -->
    <div class="card">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Feedback System</h1>
        <p class="lead">You can provide your feedback regarding this application here.
        </p>
    </div>
</div>
    <!-- Feedback form Start-->
    <div class="card text-right" style="margin-top: 0.5rem;" data-toggle="modal" data-target="#exampleModalScrollable" >
        <div class="container" style="margin-left: 5rem;margin-top:2rem;">
        <form [formGroup]="feedbackForm" (ngSubmit)="feedbackSubmitted()">
            <div class="form-row" style="margin-top: 1rem;">
                <div class="form-group col-md-4">
                    <label for="username">Username<span class="text-danger">*</span>: </label>
                </div>
                <div class="form-group col-md-4">
                    <input type="text" class="form-control" formControlName="userName" id="username" placeholder="Enter Name" autofocus>
                </div>
            </div>
            <div class="form-row" style="margin-top: 1rem;">
                <div class="form-group col-md-4">
                    <label for="username">Email<span class="text-danger">*</span>: </label>
                </div>
                <div class="form-group col-md-4">
                  <input type="text" class="form-control" formControlName="email" id="inputPassword4" placeholder="Enter Email Address">
                </div>
            </div>
            <div class="form-row" style="margin-top: 0.5rem;">
                <div class="form-group col-md-4">
                    <label for="navigationDD">How easy is the Navigation in the website<span class="text-danger">*</span>:</label>
                </div>
                <div class="form-group col-md-2">
                    <select class="form-control" id="navigationDD" formControlName="navigation">
                        <option *ngFor ="let option of selectionList" >{{option}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row" style="margin-top: 0.25rem;">
                <div class="form-group col-md-4">
                    <label for="appealingDD">How visually appealing is our website<span class="text-danger">*</span>:</label>
                </div>
                <div class="form-group col-md-2">
                    <select class="form-control" id="appealingDD" formControlName="appeal" >
                        <option *ngFor ="let option of selectionList" >{{option}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row" style="margin-top: 0.25rem;">
                <div class="form-group col-md-4">
                    <label for="understandDD">How easy to understand information here<span class="text-danger">*</span>:</label>
                </div>
                <div class="form-group col-md-2">
                        <select class="form-control" id="understandDD" formControlName="infoUnderstand" >
                            <option *ngFor ="let option of selectionList" >{{option}}</option>
                        </select>
                </div>
            </div>
            <div class="form-row" style="margin-top: 0.25rem;">
                <div class="form-group col-md-4">
                    <label for="exampleFormControlSelect1">Something that you liked about this site<span class="text-danger">*</span>:</label>
                </div>
                <div class="form-group col-md-4">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols="60" formControlName="liked"></textarea>
                </div>
            </div>
            <div class="form-row" style="margin-top: 0.25rem;">
                <div class="form-group col-md-4">
                    <label for="exampleFormControlSelect1">Things that you do not like about the site<span class="text-danger">*</span>:</label>
                </div>
                <div class="form-group col-md-4">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols="60" formControlName="didNotLike"></textarea>
                </div>
            </div>
            <div class="form-row" style="margin-top: 0.25rem;">
                <div class="form-group col-md-4">
                    <label for="exampleFormControlSelect1">Please provide any suggestions and improvement if any:</label>
                </div>
                <div class="form-group col-md-4">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols="60" formControlName="suggestions"></textarea>
                </div>
            </div>
            <div class="form-row" style="margin-top: 0.25rem;">
                <div class="form-group col-md-4">
                    <button type="submit" class="btn btn-primary" [disabled]="!feedbackForm.valid">Submit</button>
                </div>
                <div class="form-group col-md-2">
                    <button type="reset" class="btn btn-info" (click)="feedbackForm.reset">Reset</button>
                </div>
            </div>            
          </form>
    </div>
    <!-- Feedback form End-->
</div>
</div>
</body>
</html>

