<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback</title>
</head>
<body>
<div class="container">
    <!--navigation bar start -->
    <app-nav-bar></app-nav-bar>
    <!--navigation bar end -->
    <div class="card">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Feedback System</h1>
        <p class="lead">You can provide your feedback regarding this application here.
        </p>
    </div>
</div>
</div>
</body>
</html>

