<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
<div class="container">
  <app-nav-bar></app-nav-bar>
  <div class="card">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Welcome to Open Log</h1>
      <p class="lead">An application built to understand angular concepts, This will help to search git repositories by using github open api.
          A feedback form is also available,this can be integrated to learning modules and tests.
      </p>
    </div>
  </div>
    
    <div class="container" style="margin-top: 1em;">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Git Search</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">GitHub<small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>user search</li>
              <li>user repos</li>
              <li>Repository Search</li>
              <li>Files in repository</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary" routerLink="/gitDetails">Git Search</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Learning log</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Logs <small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>List of logs available</li>
              <li>Details of files</li>
              <li>Log details</li>
              <li>View Logs</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary" routerLink="/learnLog">Learning log</button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Feedback</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Local MS <small class="text-muted"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>View feedbacks</li>
              <li>Create a feedback</li>
              <li>Provide</li>
              <li>Metrics</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary" routerLink="/feedback">Feedback</button>
          </div>
        </div>
      </div>
      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; 2020</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small"><li class="text-muted">In progress</li></ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small"><li class="text-muted">In progress</li></ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small"><li class="text-muted">In progress</li></ul>
          </div>
        </div>
      </footer>
    </div> 
</div>
</body>
</html>
